.ant-form-item {
    margin-bottom: 2px !important;
}

.ant-form-vertical .ant-form-item-label {
    padding-bottom: 1px !important;
}

.ant-form-vertical .ant-form-item-label > label {
    margin-bottom: 0 !important;
    line-height: 1 !important;
    font-size: 12px !important;
}


.final-amount-input .ant-input-number-input {
    color: #ef4444 !important;
    -webkit-text-fill-color: #bc7070 !important;

    font-size: 18px !important;
    font-weight: 700 !important;

    text-align: left !important;
}

.final-amount-input.ant-input-number-disabled .ant-input-number-input {
    color: #ef4444 !important;
    -webkit-text-fill-color: #ef4444 !important;
    opacity: 1 !important;
}